.start {
    margin-left: 25%;
    margin-top: 15%;
}

.leftProductList {
    border: 1px solid black;
    margin:auto;
    margin-top: 10px;
    padding: 5px;
    height: 500px;
}

.ProductStatus {
    border: 1px solid black;
    margin: auto;
    padding: 5px;
}

.in_progress {
    width: 15px;
    height: 15px;
    background: deeppink;
    margin: 4px;
    margin-top: 6px;
}

.completed {
    width: 15px;
    height: 15px;
    background: green;
    margin: 4px;
    margin-top: 6px;
}

.pinkText {
    color: deeppink;
}

.greenText {
    color: green;
}

.order {
    border: 1px solid black;
    height: 130px;
    margin-top: 10px;
    margin-left: 5px;
}

.orderDetails {
    border: 1px solid black;
    height: 350px;
    margin-top: 5px;
    margin-left: 5px;
}

.leftOrders {
    margin-top: 10px;
    padding: 3px;
}

.leftBtns {
    margin-top: 6px;
}

.rightText {
   margin-left: 30px;
}
